h1{
    color: white;
}
p{
    font-size: 1.1rem;
    color: white;
}
a{
    text-decoration: none;
}
.row{
    height: 100vh;
    overflow:hidden;
}
.skills{
    min-height: 25rem;
}
.skills ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}
.skills ul li{
    color: white;
    padding: 0.2rem;
    border-radius: 0.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.skills ul li .icon{
    color: white;
    font-size: 2.5rem;
}
.skills .tip {
    position: relative;
    display: inline-block;
}
  
.skills .tip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
  
.skills .tip .tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
.skills .tip:hover .tiptext {
    visibility: visible;
}



.about{
    min-height: 25rem;
}


img{
    width: auto;
}
.skills ul li:hover{
    color: white;
    transform: scale(1.1);
}

