
.row{
    height: 100vh;
    overflow:hidden;
}
.skills{
    height: auto;
}
.skills ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}
.skills ul li{
    background: #19A7CE;
    padding: 0.2rem;
    border-radius: 0.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
img{
    width: auto;

}
.skills ul li:hover{
    color: white;
    transform: scale(1.1);
}

.content{
    height: fit-content;
}