.contacts{
    height: 100vh;
}

.contacts form{
    border-radius: 1rem;
    width: 20rem;
    height: fit-content;
    max-width: 100rem;
    border: 0.1rem solid darkgrey;
    padding: 1rem;
}
.contacts form h1{
    color: white;
    border-bottom: 0.1rem solid white;
}

.contacts form label{
    font-weight: bold;
    color: white;
}
.contacts form input{
    color: white;
    background: darkgrey;
    padding: 0.2rem;
}
.contacts form input[type = "text"]{
    border-radius: 0.2rem;
    border: none;
    outline: none;
}
.contacts form input[type = "email"]{
    border-radius: 0.2rem;
    border: none;
    outline: none;
}
.contacts form textarea{
    background: darkgrey;
    border-radius: 0.2rem;
    border: none;
    outline: none;
    padding: 0.4rem;
}
.contacts form input[type = "submit"]{
    background: white;
    color: black;
    font-weight: 500;
    border-radius: 0.2rem;
    width: 100%;
    border: none;
}
.contacts form input[type = "submit"]:hover{
    background: #4bb543;
}
