/* Base Styles */
.project {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .content {
  text-align: center;
  padding: 2rem;
  max-width: 800px;
}

.content img {
  width: 100%;
  max-width: 300px; /* Adjust to desired max width */
  height: auto;
  margin-bottom: 1.5rem;
}

h1 {
  color: #00796b; /* Use a nice green shade */
  font-size: 2.5rem; /* Larger font size for prominence */
  margin-bottom: 1rem;
}

p.lead {
  color: black; /* Darker text color for better readability */
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: #00796b;
  border-color: #00796b;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  text-decoration: none;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #004d40; /* Darker shade on hover */
  border-color: #004d40;
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .project {
    height: auto;
  }
  .content {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  p.lead {
    font-size: 1rem;
  }

  .btn-primary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}
