* {
  margin: 0;
  padding: 0;
}
h2 {
  color: white;
}
h5 {
  color: white;
  font-weight: 600;
}
p {
  color: white;
  font-size: 0.9rem !important;
}
li {
  color: black;
  font-weight: 200;
}
ul {
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.content .carousel {
  height: 100%;
}
.carousel-item {
}
.carousel-indicators {
  margin-bottom: 5%;
}
.project .visual {
  width: 30rem;

  overflow: hidden;
  border-radius: 0.5rem;
}
.project .description {
  width: 30rem;
}
.project {
  gap: 2rem;
}
.icon {
  font-size: 1.8rem;
}
.techs {
  gap: 2rem;
}
