.projects .project{

    height: 15rem;
    border-radius: 2rem;
}
.projects .project div img{
    width: 18rem;
}
.projects .project a{
    text-decoration: none;
}

.projects .list{
    display: flex;
}

ul{
    list-style: none;
}