.footer{
    position: fixed;
    bottom: 0;
    /* background-color: #121212; */
}
.footer .socialmedia{
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;
}
.footer .socialmedia ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 0.5rem;
    gap: 2rem;
    color: #fff;
}
.footer .socialmedia ul li .icon{
    fill: #004d40; /* Use 'fill' instead of 'color' for SVGs */
    width: 1.8rem; /* Set width if needed */
    height: 1.8rem; /* Set height if needed */
}