.footer{
    position: fixed;
    bottom: 0;
}
.footer .socialmedia{
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;
}
.footer .socialmedia ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 0.5rem;
    gap: 2rem;
    color: #fff;
}
.footer .socialmedia ul li .icon{
    color: #fff;
    font-size: 1.5rem;
}